{{!-- Banner --}}
<div class="jumbotron jumbotron-fluid p-4 mb-0 bg-white">
    <div class="container ml-0">
        <img src="/img/tavola-logo.png" alt="Tavola Logo" class="tavola-logo">
        <h1 class="display-5 d-inline"><strong>Tavola</strong></h1>
    </div>
</div>
{{!-- Navbar --}}
<ul class="nav nav-tabs p-2 pl-4">
    <li class="nav-item">
        <a class="nav-link text-white" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="/api/parent/class">Classroom Profiles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="/parent">Add Your Student</a>
    </li>
</ul>