<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tavola</title>
	{{!-- Bootstrap CSS--}}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	{{!-- Style CSS --}}
	<link rel="stylesheet" href="/css/styles.css" type="text/css">
	{{!-- JS --}}
	<script src="/js/admin_input.js"></script>
	<script src="/js/cms.js"></script>
	<script src="/js/parent_input.js"></script>
	<script src="/js/signup.js"></script>
	<script src="/js/login.js"></script>
	{{!-- Favicon --}}
	<link rel="shortcut icon" type="image/png" href="/img/favicon.png">
	{{!-- Font --}}
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
</head>
<body>
	{{{ body }}}
</body>
</html>