{{> nav-parent-block}}
{{!-- Annoucements --}}
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Annoucements:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>After school bake sale this Friday.</td>
        </tr>
    </tbody>
</table>

