{{> studentprofiles-block}}

{{#each Student}}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Birthday</th>
      <th scope="col">Asthma</th>
      <th scope="col">Allergy</th>
      <th scope="col">EpiPen</th>
{{!--       <th scope="col">Medical Consent</th> --}}
      <th scope="col">Chronic Condition</th>
    </tr>
  </thead>
  <tbody>
    <tr>
     <td>{{this.id}}</td>
    </tr>
    <tr>
      <td>{{this.first_name}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
{{/each}}