body {
  font-family: "Open Sans";
}

.nav:not(.student-profile) {
  background-color: #29BF89;
  color: white;
}

.tavola-logo {
  height: 85px;
  width: 85px;
}
.sign-up {
	margin-left: 5em;
	width: 50%;
}

.dataTableHeader {
	background-color: lightgray;

}

.student-profile {
	width: 50%;
	margin-left: 5em;

}

.header-student-profile {
	margin-left: 3em;
}