{{#each Student}}
	<h2>Class Profile</h2>
	<br>
	<table class="table table-bordered">
	  <thead>
	    <tr>
	      <th scope="col">Asthma</th>
	      <th scope="col">Allergies</th>
	      {{!-- For chronic conditions --}}
	      <th scope="col">Special Notes</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
		    {{#if asthma}}
		    	<td>There is at least one student with asthma, please be...</td>
		    {{/if}}
		    {{#unless asthma}}
		    	<td>N/A</td>
			{{/unless}}
	    </tr>
	    <tr>
		    {{#each Student}}
		    	<td>{{this.allergy}}</td>
		    {{/each}}
	    </tr>
	    <tr>
			{{#if null}}
				<td>N/A</td>
			{{/if}}
			{{#unless null}}
				<td>{{this.chronic_condition}}</td>
			{{/unless}}
	    </tr>
	  </tbody>
	</table>
{{/each}}