{{> nav-staff-block}}
<h2>Results</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Birth Date</th>
      <th scope="col">Parent ID</th>
      <th scope="col">Teacher ID</th>
      <th scope="col">Asthma</th>
      <th scope="col">Allergy</th>
      <th scope="col">epiPen</th>
      <th scope="col">Chronic Conditions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    	<td class="#id"></td>
    	<td class="#first-name"></td>
    	<td class="#last-name"></td>
    	<td class="#birth"></td>
    	<td class="#parent-id"></td>
    	<td class="#teacher-id"></td>
    	<td class="#asthma"></td>
    	<td class="#allergy"></td>
    	<td class="#epi-pen"></td>
    	<td class="#chronic"></td>
    </tr>
  </tbody>
</table>