{{> studentprofiles-block}}

<h2>All Students</h2>
  <table class="table table-bordered">
    <thead class="dataTableHeader">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Birth Date</th>
        <th scope="col">Parent ID</th>
        <th scope="col">Teacher ID</th>
        <th scope="col">Asthma</th>
        <th scope="col">Allergy</th>
        <th scope="col">epiPen</th>
        <th scope="col">Chronic Conditions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="first-name-view">Sally</td>
        <td id="last-name-view">Mae</td>
        <td id="birth-view">10/02/2010</td>
        <td id="parent-id-view">2</td>
        <td id="teacher-id-view">4</td>
        <td id="asthma-view">N/A</td>
        <td id="allergy-view">bees</td>
        <td id="epi-pen-view">true</td>
        <td id="chronic-view">N/A</td>
      </tr>
      <tr>
        <td id="first-name-view">Larry</td>
        <td id="last-name-view">Tea</td>
        <td id="birth-view">12/12/2009</td>
        <td id="parent-id-view">5</td>
        <td id="teacher-id-view">1</td>
        <td id="asthma-view">true</td>
        <td id="allergy-view">bees, dairy, pollen, eggs</td>
        <td id="epi-pen-view">true</td>
        <td id="chronic-view">N/A</td>
      </tr>
      <tr>
        <td id="first-name-view">John</td>
        <td id="last-name-view">Carlson</td>
        <td id="birth-view">05/22/2011</td>
        <td id="parent-id-view">3</td>
        <td id="teacher-id-view">1</td>
        <td id="asthma-view">N/A</td>
        <td id="allergy-view">nuts</td>
        <td id="epi-pen-view">true</td>
        <td id="chronic-view">diabetic</td>
      </tr>
      <tr>
        <td id="first-name-view">Frankie</td>
        <td id="last-name-view">Nguyen</td>
        <td id="birth-view">04/02/2010</td>
        <td id="parent-id-view">6</td>
        <td id="teacher-id-view">3</td>
        <td id="asthma-view">true</td>
        <td id="allergy-view">bees</td>
        <td id="epi-pen-view">true</td>
        <td id="chronic-view">N/A</td>
      </tr>
      <tr>
        <td id="first-name-view">Anh</td>
        <td id="last-name-view">Vu</td>
        <td id="birth-view">11/19/2011</td>
        <td id="parent-id-view">4</td>
        <td id="teacher-id-view">4</td>
        <td id="asthma-view">N/A</td>
        <td id="allergy-view">dairy, nuts</td>
        <td id="epi-pen-view">true</td>
        <td id="chronic-view">diabetic</td>
      </tr>
    </tbody>

  </table> --}}
  <h2>All Students</h2>
  <table class="table table-bordered">
    <thead class="dataTableHeader">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Birth Date</th>
        <th scope="col">Parent ID</th>
        <th scope="col">Teacher ID</th>
        <th scope="col">Asthma</th>
        <th scope="col">Allergy</th>
        <th scope="col">epiPen</th>
        <th scope="col">Chronic Conditions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="first-name-view">Sally</td>
        <td id="last-name-view">Mae</td>
        <td id="birth-view">10/02/2010</td>
        <td id="parent-id-view">2</td>
        <td id="teacher-id-view">4</td>
        <td id="asthma-view">N/A</td>
        <td id="allergy-view">bees</td>
        <td id="epi-pen-view">true</td>
        <td id="chronic-view">N/A</td>
      </tr>
      <tr>
        <td id="first-name-view">Larry</td>
        <td id="last-name-view">Tea</td>
        <td id="birth-view">12/12/2009</td>
        <td id="parent-id-view">5</td>
        <td id="teacher-id-view">1</td>
        <td id="asthma-view">true</td>
        <td id="allergy-view">bees, dairy, pollen, eggs</td>
        <td id="epi-pen-view">true</td>
        <td id="chronic-view">N/A</td>
      </tr>
      <tr>
        <td id="first-name-view">John</td>
        <td id="last-name-view">Carlson</td>
        <td id="birth-view">05/22/2011</td>
        <td id="parent-id-view">3</td>
        <td id="teacher-id-view">1</td>
        <td id="asthma-view">N/A</td>
        <td id="allergy-view">nuts</td>
        <td id="epi-pen-view">true</td>
        <td id="chronic-view">diabetic</td>
      </tr>
      <tr>
        <td id="first-name-view">Frankie</td>
        <td id="last-name-view">Nguyen</td>
        <td id="birth-view">04/02/2010</td>
        <td id="parent-id-view">6</td>
        <td id="teacher-id-view">3</td>
        <td id="asthma-view">true</td>
        <td id="allergy-view">bees</td>
        <td id="epi-pen-view">true</td>
        <td id="chronic-view">N/A</td>
      </tr>
      <tr>
        <td id="first-name-view">Anh</td>
        <td id="last-name-view">Vu</td>
        <td id="birth-view">11/19/2011</td>
        <td id="parent-id-view">4</td>
        <td id="teacher-id-view">4</td>
        <td id="asthma-view">N/A</td>
        <td id="allergy-view">dairy, nuts</td>
        <td id="epi-pen-view">true</td>
        <td id="chronic-view">diabetic</td>
      </tr>
    </tbody>
  </table>
  
  
  Add CommentCollapse  Message Input Message Bill Windsor, Maggie, Yvette, ehler (AY-ler)


<h2>Student Search Results</h2>

<table class="table table-bordered">
  <thead class="dataTableHeader">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Birth Date</th>
      <th scope="col">Parent ID</th>
      <th scope="col">Teacher ID</th>
      <th scope="col">Asthma</th>
      <th scope="col">Allergy</th>
      <th scope="col">epiPen</th>
      <th scope="col">Chronic Conditions</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="id"></td>
      <td id="first-name"></td>
      <td id="last-name"></td>
      <td id="birth"></td>
      <td id="parent-id"></td>
      <td id="teacher-id"></td>
      <td id="asthma"></td>
      <td id="allergy"></td>
      <td id="epi-pen"></td>
      <td id="chronic"></td>
      <td id="updateStudentBox"></td>
    </tr>
  </tbody>
</table>
